<div class="row">
    <div class="col-md-2 col-xs-6">
      <button class="btn btn-block btn-primary btn-xs" (click)="onClickNextTurn()">
          Siguiente Turno
       </button>       
    </div>
    <div class="col-md-2 col-xs-6">
      <button class="btn btn-block btn-success btn-xs" (click)="onClickReCall()">
          Volver a llamar
       </button> 
    </div>
    <div class="col-md-2 col-xs-6">
        <button class="btn btn-block btn-warning btn-xs" (click)="onClickEndTurn()">
            Terminar
         </button> 
    </div>
  </div>
